body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 400px;
  margin: 8px;
}

* {
  box-sizing: border-box;
}

#popup-page {
  width: 100%;
}

.popup-input input, .popup-input select, .popup-input button {
  width: 100%;
  margin-bottom: 10px;
}

.popup-checkbox {
  width: 100%;
  margin-bottom: 10px;
}

.popup-label {
  margin-bottom: 5px;
}
